# data that should stay local
data/raw/
data/interim/

# notebooks checkpoints
.ipynb_checkpoints/

# python
__pycache__/
*.pyc
.venv/
.env

# OS
.DS_Store
Thumbs.db

# if you produce very large outputs
*.parquet
*.pkl
